/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px. Some browers does not work with rem in media queries
*/
li a {
  position: relative;
  margin: 15px 40px;
  padding: 10px 20px;
  transition: 0.5s;
  z-index: 1;
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
}
li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #2b717a;
  border-bottom: 2px solid #2b717a;
  border-radius: 5px;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.8s;
}
li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform: scale(0);
  opacity: 0;
  transition: 0.8s;
  border-radius: 5px;
  z-index: -1;
}
li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
    overflow-x: hidden;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top {
  margin-top: 8rem !important;
}

.u-margin-huge {
  margin-top: 10rem !important;
}

.navigation__nav {
  width: 100%;
  height: 5rem;
  font-size: 2rem !important;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 5rem;
}
.navigation__list {
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* relative to itself */
  height: 10rem;
  display: flex;
}
.navigation__item {
  list-style: none;
  float: left;
  height: 5rem;
  margin: 1rem 5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.4s;
  padding: 1rem 1.5rem;
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
}

.header {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: url("/cocoktail/img/img1.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  opacity: 0.7;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: transparent;
}

.section-intro {
  position: relative;
  padding: 15rem 0;
  margin-top: -15vh;
}
@media only screen and (max-width: 56.25em) {
  .section-intro {
    padding: 20rem 0;
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  justify-content: center;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 3.5rem;
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
  /*
  animation-delay: 3s;
  animation-iteration-count: 3;
  */
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-1 {
  width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem);
}
.row .col-1-of-2 {
  width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem);
}
.row .col-1-of-3 {
  width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem);
}
.row .col-1-of-4 {
  width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem);
}
.row .col-1-of-5 {
  width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem);
}
.row .col-1-of-6 {
  width: calc(1 * ((100% - (6 - 1) * 6rem) / 6) + (1 - 1) * 6rem);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem);
}
.row .col-2-of-6 {
  width: calc(2 * ((100% - (6 - 1) * 6rem) / 6) + (2 - 1) * 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem);
}
.row .col-3-of-6 {
  width: calc(3 * ((100% - (6 - 1) * 6rem) / 6) + (3 - 1) * 6rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem);
}
.row .col-4-of-6 {
  width: calc(4 * ((100% - (6 - 1) * 6rem) / 6) + (4 - 1) * 6rem);
}
.row .col-5-of-6 {
  width: calc(5 * ((100% - (6 - 1) * 6rem) / 6) + (5 - 1) * 6rem);
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}

.col-1-of-2 h3 {
  background-image: linear-gradient(to right, #2b717a, #095a31);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  align-items: center;
}/*# sourceMappingURL=main.css.map */