.navigation {

    &__nav {
        width: 100%;
        height: 5rem;
        font-size: 2rem !important;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 5rem;

    }

    &__list {
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        /* relative to itself */
        height: 10rem;
        display: flex;
    }

    &__item {
        list-style: none;
        float: left;
        height: 5rem;
        margin: 1rem 5rem;

    }

    &__link {

        &:link,
        &:visited {
            display: inline-block; //for doing a translate effect
            font-size: 3rem;
            font-weight: 600;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-size: 220%;
            transition: all 0.4s;
            padding: 1rem 1.5rem;
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text;
            color: transparent;


        }
    }


}