
.cabecera {

    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to  left top, #e7cccc , $colorPrincipal);

    ul{
        overflow: hidden;
        position:absolute;
        left: 50%;
        transform: translate(-50%); /* relative to itself */
        height: 5rem;
        display: flex;


    }

    li {

        font-family: $fuentePrincipal;
        list-style: none;
        float: left;
        height: 5rem;


    }

    li a {
        padding: 1rem 1.5rem;
        text-align: center;
        display: block;
        font-family: $fuentePrincipal;
        text-decoration: none;
    }

    .logo{
        background-color: $colorSecundario;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 2rem 1.5rem;

    }

}
